fastapi
uvicorn[standard]
sqlmodel
alembic
pyjwt
passlib[bcrypt]
python-multipart
pydantic-settings
aiosqlite
asyncpg
httpx
bcrypt
python-dotenv
groq
python-jose[cryptography]
email-validator
razorpay
gunicorn
psycopg2-binary
